openai>=0.27.8
langchain>=0.0.234
anthropic>=0.3.10
gradio
pydantic
coloredlogs
ujson
tiktoken
tqdm
inflect
vertexai
google-cloud-aiplatform>=1.28.1
torch
pygments
matplotlib
transformers
trueskill
seaborn
google-generativeai